body {
    background: #DDDDDD;
    font-family: 'Bitter', serif;
}

nav a {
    font-size: 18px;
    font-family: 'Coda', cursive;
    color: white;
    transition-duration: 0.4s;
}

#title {
    font-size: 70px;
    font-family: 'Changa', sans-serif;
    text-align: center;
}

#contactHeader {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 28px;
    text-align: center;
}

#contact {
    background-color: #900000;
    color: white;
    font-size: 20px;
}

#linkedin {
    color: white;
}